<div class="card">
  <p-confirmDialog />
  <!-------------------------------Dialog Login------------------------------------------->
  <div class="card flex justify-content-center">
    <p-dialog
      header="Login"
      [modal]="true"
      [(visible)]="loggingIn"
      [style]="{ width: '25rem' }"
    >
      <div class="minor-caption" *ngIf="loginErrorMessage !== ''">
        {{ loginErrorMessage }}
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="flex flex-column gap">
          <div class="flex pill align-items-center">
            <label for="username" class="font-semibold w-6rem">Username</label>
            <input
              pInputText
              formControlName="username"
              autocomplete="off"
              id="username"
              name="username"
            />
          </div>
          <div class="flex pill align-items-center">
            <label for="password" class="font-semibold w-6rem">Password</label>
            <input
              pInputText
              formControlName="password"
              autocomplete="off"
              type="password"
              id="password"
              name="password"
            />
          </div>
          <div class="flex justify-content-between">
            <div>
              @if(!waitingCreateAcc){
              <p-button
                label="Create Account"
                [disabled]="loginForm.invalid || waitingLogIn"
                (onClick)="createAcc()"
                outlined="true"
              />
              } @else {
                <p-button
                  icon="pi pi-spin pi-spinner"
                  [disabled]="true"
                  outlined="true"
                />
              }
            </div>
            <div>
              @if(!waitingLogIn){
              <p-button
                label="Login"
                [disabled]="loginForm.invalid || waitingCreateAcc"
                (onClick)="login()"
                outlined="true"
                type="submit"
              />
              } @else {
                <p-button
                  icon="pi pi-spin pi-spinner"
                  [disabled]="true"
                  outlined="true"
                />
              }
            </div>
          </div>
        </div>
      </form>
    </p-dialog>
  </div>
  <!-------------------------------Dialog Add Class----------------------------------------->
  <div class="card flex justify-content-center">
    <p-dialog
      header="Add Class"
      [modal]="true"
      [(visible)]="addingClass"
      [style]="{ width: '25rem' }"
    >
      <span class="p-text-secondary block mb-5">
        Add a new class - lighter colors are recommended
      </span>
      <div class="flex pill align-items-center gap">
        <label for="Class" class="font-semibold w-6rem">Class</label>
        <input
          pInputText
          id="Class"
          class="flex-auto"
          autocomplete="off"
          [(ngModel)]="className"
        />
      </div>
      <div class="flex pill align-items-center gap">
        <label for="Color" class="font-semibold w-6rem">Color</label>
        <p-colorPicker [(ngModel)]="classColor" [inline]="true" />
      </div>
      @if (className) {
      <div class="pill" style="text-align: center">
        <span class="p-text-secondary block mb-5"> Preview </span>
        <div class="center-checkbox pill" [style.background-color]="classColor">
          {{ className }}
        </div>
      </div>
      }
      <div class="flex justify-content-end gap">
        <p-button
          label="Cancel"
          severity="secondary"
          (onClick)="addingClass = false"
        />
        <p-button
          label="Save"
          [disabled]="!uniqueClassName()"
          (onClick)="addClass()"
          [pTooltip]="addClassTip"
          tooltipPosition="top"
          [style]="{ 'pointer-events': 'auto' }"
        />
      </div>
    </p-dialog>
  </div>
  <!-----------------------------------Dialog Add Assignment----------------------------------->
  <div class="card flex justify-content-center">
    <p-dialog
      header="Add Assignment"
      [modal]="true"
      [(visible)]="addingAssignment"
      [style]="{ minWidth: '46rem', minHeight: '44rem' }"
    >
      <form [formGroup]="assignmentForm">
        <div class="flex justify-content-between" [style]="{ height: '100%' }">
          <div>
            <div class="flex-column justify-content-center gap">
              <div class="flex pill align-items-center">
                <label for="Class" class="font-semibold w-6rem">Class</label>
                <p-dropdown
                  [options]="classes"
                  formControlName="selectedClass"
                  optionLabel="label"
                  optionValue="value"
                  [filter]="true"
                  filterBy="label"
                  placeholder="Select Class"
                >
                  <ng-template pTemplate="selectedItem">
                    <div
                      [style.background-color]="
                        getClassColor(assignmentForm.value.selectedClass)
                      "
                      class="pill"
                    >
                      <div>{{ assignmentForm.value.selectedClass }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-option pTemplate="item">
                    <div
                      [style.background-color]="option.color"
                      class="center-checkbox pill"
                    >
                      <div>{{ option.label }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
              <div class="flex pill align-items-center">
                <label for="Activity" class="font-semibold w-6rem"
                  >Activity</label
                >
                <input
                  pInputText
                  id="Activity"
                  formControlName="activity"
                  autocomplete="off"
                />
              </div>
              <div class="flex pill align-items-center">
                <label for="ReleaseDate" class="font-semibold w-6rem">
                  Release
                </label>
                <p-calendar
                  formControlName="releaseDate"
                  id="ReleaseDate"
                  dateFormat="mm/dd/yy"
                  [showIcon]="true"
                  [iconDisplay]="'input'"
                  inputId="templatedisplay"
                  appendTo="body"
                >
                  <ng-template pTemplate="inputicon">
                    <i
                      class="pi pi-times cursor-pointer"
                      (click)="clearReleaseDate()"
                    ></i>
                  </ng-template>
                </p-calendar>
              </div>
              <div class="flex pill align-items-center">
                <label for="DueDate" class="font-semibold w-6rem"> Due </label>
                <p-calendar
                  formControlName="dueDate"
                  id="DueDate"
                  dateFormat="mm/dd/yy"
                  [showIcon]="true"
                  [iconDisplay]="'input'"
                  inputId="templatedisplay"
                  appendTo="body"
                >
                  <ng-template pTemplate="inputicon">
                    <i
                      class="pi pi-times cursor-pointer"
                      (click)="clearDueDate()"
                    ></i>
                  </ng-template>
                  ></p-calendar
                >
              </div>
              <div class="flex pill align-items-center">
                <label for="Weight" class="font-semibold w-6rem">Weight</label>
                <p-inputNumber
                  [showButtons]="true"
                  formControlName="weight"
                  id="Weight"
                  inputId="minmax"
                  mode="decimal"
                  [min]="0"
                  [max]="100"
                  suffix="%"
                />
              </div>
              <div class="flex pill align-items-center">
                <label for="Completed" class="font-semibold w-6rem"
                  >Notes</label
                >
                <input
                  pInputText
                  id="Notes"
                  formControlName="notes"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
          <div class="flex justify-content-center gap align-items-center">
            <div class="gap align-items-center justify-content-center">
              <label class="font-semibold w-6rem pill">Reoccur Until</label>
              <div class="minor-caption pill">Due Date</div>
              <div class="pill align-items-center">
                <p-calendar
                  formControlName="reoccurUntil"
                  id="ReoccurUntil"
                  dateFormat="mm/dd/yy"
                  class="small-calendar"
                  appendTo="body"
                ></p-calendar>
              </div>
              <label class="font-semibold w-6rem pill">Every</label>
              <div class="minor-caption pill">Leave blank for once</div>
              <div class="flex pill align-items-center">
                <p-inputNumber
                  [showButtons]="true"
                  formControlName="reoccurEveryValue"
                  id="ReoccurEveryValue"
                ></p-inputNumber>
              </div>
              <div class="flex pill align-items-center">
                <p-dropdown
                  [options]="reoccurEveryOptions"
                  formControlName="reoccurEvery"
                  optionLabel="label"
                  optionValue="value"
                  placeholder="Select Unit"
                ></p-dropdown>
              </div>
            </div>
          </div>
        </div>
        <div class="flex pill justify-content-end large-gap">
          <p-button
            pRipple
            label="&larr; Back "
            (onClick)="goBack()"
            [disabled]="isStepOne"
          />
          <p-button
            pRipple
            label="Reset"
            (onClick)="assignmentForm.reset(initialValues)"
            [disabled]="!isStepOne"
          />
          <p-button
            pRipple
            label="Next &rarr;"
            (onClick)="nextStep()"
            [disabled]="assignmentForm.invalid"
          />
        </div>
      </form>
      <p-divider></p-divider>
      <div class="pill align-items-center justify-content-center gap">
        <p-table [value]="tasksToBeAdded" *ngIf="tasksToBeAdded.length">
          <ng-template pTemplate="header">
            <tr>
              <th>Class</th>
              <th>Activity</th>
              <th>Release Date</th>
              <th>Due Date</th>
              <th>Weight</th>
              <th>Earned</th>
              <th>Completed</th>
              <th>Notes</th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-task
            let-editing="editing"
            let-ri="rowIndex"
          >
            <tr>
              <td [pEditableColumn]="task.class" pEditableColumnField="class">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-dropdown
                      [options]="classes"
                      appendTo="body"
                      [(ngModel)]="task.class"
                      [style]="{ width: '100%' }"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          [style.background-color]="getClassColor(task.class)"
                          class="pill"
                        >
                          <div>{{ task.class }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-option pTemplate="item">
                        <div
                          [style.background-color]="option.color"
                          class="center-checkbox pill"
                        >
                          <div>{{ option.label }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </ng-template>
                  <ng-template pTemplate="output">
                    <div
                      [style.background-color]="getClassColor(task.class)"
                      class="pill"
                    >
                      {{ task.class }}
                    </div>
                  </ng-template>
                </p-cellEditor>
              </td>
              <td
                [pEditableColumn]="task.activity"
                pEditableColumnField="activity"
              >
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      type="text"
                      [(ngModel)]="task.activity"
                      required
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ task.activity }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td
                [pEditableColumn]="task.releaseDate"
                pEditableColumnField="releaseDate"
              >
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-calendar
                      [(ngModel)]="task.releaseDate"
                      dateFormat="mm/dd/yy"
                      appendTo="body"
                    ></p-calendar>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ task.releaseDate | date : "mediumDate" }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td
                [pEditableColumn]="task.dueDate"
                pEditableColumnField="dueDate"
              >
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-calendar
                      [(ngModel)]="task.dueDate"
                      dateFormat="mm/dd/yy"
                      appendTo="body"
                    ></p-calendar>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ task.dueDate | date : "mediumDate" }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td [pEditableColumn]="task.weight" pEditableColumnField="weight">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-inputNumber
                      [showButtons]="true"
                      [(ngModel)]="task.weight"
                      required
                      [min]="0"
                      [max]="100"
                      suffix="%"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ task.weight }}%
                  </ng-template>
                </p-cellEditor>
              </td>
              <td [pEditableColumn]="task.earned" pEditableColumnField="earned">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-inputNumber
                      [showButtons]="true"
                      [(ngModel)]="task.earned"
                      [min]="0"
                      [max]="100"
                      suffix="%"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ task.earned }}@if(task.earned){%}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-checkbox
                  [(ngModel)]="task.completed"
                  [binary]="true"
                ></p-checkbox>
              </td>
              <td [pEditableColumn]="task.notes" pEditableColumnField="notes">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      type="text"
                      [(ngModel)]="task.notes"
                      required
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ task.notes }}
                  </ng-template>
                </p-cellEditor>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <label
          *ngIf="tasksToBeAdded.length === 0"
          class="align-items-center justify-content-center pill font-semibold"
          >Tasks will be displayed here for quick edits</label
        >
        <div class="pill justify-content-end" *ngIf="tasksToBeAdded.length">
          <p-button pRipple label="Release" (onClick)="Merge()" />
        </div>
      </div>
    </p-dialog>
  </div>
  <!----------------------------------Table------------------------------------>
  <p-table
    [value]="tasks"
    [tableStyle]="{ 'min-width': '50rem', 'min-height': '25rem' }"
    sortMode="multiple"
    #dt
    [globalFilterFields]="[
      'class',
      'activity',
      'releaseDate',
      'dueDate',
      'weight',
      'earned',
      'completed',
      'notes'
    ]"
    [(selection)]="toBeRemoved"
  >
    <ng-template pTemplate="caption">
      <div class="flex justify-content-between">
        <div class="flex gap">
          <p-button
            pRipple
            label="Clear"
            [outlined]="true"
            (onClick)="clear(dt)"
          />
          @if(!removal){
          <p-button
            pRipple
            icon="pi pi-trash"
            [outlined]="true"
            (onClick)="removal = true"
          />
          } @else if(!toBeRemoved.length){
          <p-button
            pRipple
            icon="pi pi-times"
            [outlined]="true"
            (onClick)="removal = false"
          />
          } @else {
          <p-button
            pRipple
            icon="pi pi-check"
            [outlined]="true"
            (onClick)="confirmRemoval($event)"
          />
          }
        </div>
        <div
          class="flex drag-scroll-container justify-content-center"
          style="width: 100%"
        >
          <drag-scroll
            [style]="{
              height: '100%',
              'margin-left': '10px',
              'margin-right': '10px',
              width: 'auto'
            }"
            [scrollbar-hidden]="true"
            [drag-scroll-y-disabled]="true"
            [drag-scroll-x-disabled]="false"
            class="flex gap"
          >
            <ng-container *ngFor="let item of classes; let i = index">
              <p-button
                pRipple="true"
                [label]="classCurrentAverage(item.value)"
                [outlined]="true"
                [style]="{ 'background-color': getClassColor(item.value) }"
                (onClick)="classDetails(item.value)"
                class="pill"
              ></p-button>
            </ng-container>
          </drag-scroll>
        </div>
        <div class="gap flex">
          <p-button
            (onClick)="addingClass = true"
            label="Add Class"
            [outlined]="true"
          />
          <p-button
            pRipple
            label="Add Assignments"
            [outlined]="true"
            (onClick)="addingAssignment = true"
          />
        </div>
      </div>
      <div class="minor-caption">Hold Crtl to sort multiple columns</div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        @if(removal){
        <th style="width: 4rem"></th>
        }
        <th pSortableColumn="class">
          Class<p-sortIcon field="class"></p-sortIcon>
        </th>
        <th pSortableColumn="activity">
          Activity<p-sortIcon field="activity"></p-sortIcon>
        </th>
        <th pSortableColumn="releaseDate">
          Release Date<p-sortIcon field="releaseDate"></p-sortIcon>
        </th>
        <th pSortableColumn="dueDate">
          Due Date<p-sortIcon field="dueDate"></p-sortIcon>
        </th>
        <th pSortableColumn="weight">
          Weight<p-sortIcon field="weight"></p-sortIcon>
        </th>
        <th pSortableColumn="earned">
          Earned<p-sortIcon field="earned"></p-sortIcon>
        </th>
        <th pSortableColumn="completed">
          Completed<p-sortIcon field="completed"></p-sortIcon>
        </th>
        <th pSortableColumn="notes">
          Notes<p-sortIcon field="notes"></p-sortIcon>
        </th>
      </tr>
      <tr>
        @if(removal){
        <th style="width: 4rem" class="center-checkbox">
          <p-tableHeaderCheckbox />
        </th>
        }
        <th style="width: 10%">
          <p-columnFilter field="class" matchMode="in" [showMenu]="false">
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
              <p-multiSelect
                [ngModel]="value"
                [options]="classes"
                placeholder="Any"
                (onChange)="filter($event.value, filter)"
                optionLabel="label"
                optionValue="value"
              >
                <ng-template let-option pTemplate="item">
                  <div
                    [style.background-color]="getClassColor(option.label)"
                    class="pill"
                  >
                    <div>{{ option.label }}</div>
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="activity"
            [showClearButton]="false"
            [matchMode]="'contains'"
          />
        </th>
        <th>
          <p-columnFilter
            type="date"
            field="releaseDate"
            [showClearButton]="false"
          />
        </th>
        <th>
          <p-columnFilter
            type="date"
            field="dueDate"
            [showClearButton]="false"
          />
        </th>
        <th>
          <p-columnFilter
            type="numeric"
            field="weight"
            [showClearButton]="false"
          />
        </th>
        <th>
          <p-columnFilter
            type="numeric"
            field="earned"
            [showClearButton]="false"
          />
        </th>
        <th>
          <div class="center-checkbox">
            <p-columnFilter
              type="boolean"
              field="completed"
              [showClearButton]="false"
            />
          </div>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="notes"
            [showClearButton]="false"
            [matchMode]="'contains'"
          />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task let-editing="editing">
      <tr>
        @if(removal){
        <td style="width: 4rem">
          <p-tableCheckbox [value]="task"></p-tableCheckbox>
        </td>
        }
        <td [pEditableColumn]="task.class" pEditableColumnField="class">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown
                [options]="classes"
                appendTo="body"
                [(ngModel)]="task.class"
                [style]="{ width: '100%' }"
              >
                <ng-template pTemplate="selectedItem">
                  <div
                    [style.background-color]="getClassColor(task.class)"
                    class="pill"
                  >
                    <div>{{ task.class }}</div>
                  </div>
                </ng-template>
                <ng-template let-option pTemplate="item">
                  <div
                    [style.background-color]="option.color"
                    class="center-checkbox pill"
                  >
                    <div>{{ option.label }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              <div
                [style.background-color]="getClassColor(task.class)"
                class="pill"
              >
                {{ task.class }}
              </div>
            </ng-template>
          </p-cellEditor>
        </td>
        <td [pEditableColumn]="task.activity" pEditableColumnField="activity">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="task.activity"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ task.activity }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td
          [pEditableColumn]="task.releaseDate"
          pEditableColumnField="releaseDate"
        >
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-calendar
                [(ngModel)]="task.releaseDate"
                dateFormat="mm/dd/yy"
                appendTo="body"
              ></p-calendar>
            </ng-template>
            <ng-template pTemplate="output">
              {{ task.releaseDate | date : "EEE, MMM d" }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td [pEditableColumn]="task.dueDate" pEditableColumnField="dueDate">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-calendar
                [(ngModel)]="task.dueDate"
                dateFormat="mm/dd/yy"
                appendTo="body"
              ></p-calendar>
            </ng-template>
            <ng-template pTemplate="output">
              {{ task.dueDate | date : "EEE, MMM d" }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td [pEditableColumn]="task.weight" pEditableColumnField="weight">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-inputNumber
                [showButtons]="true"
                [(ngModel)]="task.weight"
                required
                [min]="0"
                [max]="100"
                suffix="%"
              />
            </ng-template>
            <ng-template pTemplate="output"> {{ task.weight }}% </ng-template>
          </p-cellEditor>
        </td>
        <td [pEditableColumn]="task.earned" pEditableColumnField="earned">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-inputNumber
                [showButtons]="true"
                [(ngModel)]="task.earned"
                [min]="0"
                [max]="100"
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ task.earned }}@if(task.earned){%}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-checkbox [(ngModel)]="task.completed" [binary]="true"></p-checkbox>
        </td>
        <td [pEditableColumn]="task.notes" pEditableColumnField="notes">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="task.notes" required />
            </ng-template>
            <ng-template pTemplate="output">
              {{ task.notes }}
            </ng-template>
          </p-cellEditor>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
